.sidebar{
  background-color: #171717;
}

.chats{
  /* max-height: 80vh; */
  scrollbar-color: #37474f  #212121;

}

.drawer{
  scrollbar-color: #37474f  #212121;

}
html, body, #root {
  height: 100vh;
  max-height: 100vh;
}

.lineFirst{
  transform: translateY(0.15rem) rotate(0deg) translateZ(0px);
}
.lines:hover .lineFirst{
  transform: translateY(0.15rem) rotate(15deg) translateZ(0px);
}
.lineSecond{
  transform: translateY(-0.15rem) rotate(0deg) translateZ(0px);
}

.lines:hover .lineSecond{
  transform: translateY(-0.15rem) rotate(-15deg) translateZ(0px);
}

.lineFirst2{
  transform: translateY(0.15rem) rotate(-15deg) translateZ(0px);
}
.lineSecond2{
  transform: translateY(-0.15rem) rotate(15deg) translateZ(0px);
}
.historyButton{
  display: none;
}

.history:hover .historyButton{
  display: flex;
}

.cursor {
  display: inline-block;
  width: 1ch;
  animation: flicker 0.5s infinite;
  margin-bottom: 4px;
}

@keyframes flicker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
